.cabecalho {
    display: flex;
    margin: 32px;
    padding-top: 12px;
    justify-content: space-between;
    align-items: center;
}

.logo-page {
    width: 145px;
    height: 34px;
}

.input-search {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    color: white;
    border: 0;
    padding: 16px 14px;
    box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.64;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.64; 
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.64; 
    
}

.user-button {
    display: flex;
    align-items: center;
    width: 106px;
    height: 56px;
    padding: 12px;
    box-sizing: border-box;
}

.user-photo {
    height: 36px;
    width: 36px;
}

.user-name {
    margin-left: 8px;
    color: white;
}