.cabecalho {
    display: flex;
    margin: 32px;
    padding-top: 12px;

}

.logo-page {
    width: 145px;
    height: 34px;
}

.input-search {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    color: white;
    border: 0;
    padding: 16px 14px;
    box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.64; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }