.input-text {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    padding: 16px;
    width: var(--w-panel);
    border: none;
    margin: 16px 0 0;
    font-family: inherit;
    font-weight: normal;
    font-size: inherit;
    resize: none;
    overflow: auto;
    color: white;
    box-sizing: border-box;
}

.project-bar>textarea {
    margin-bottom: 40px;
}

.input-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: var(--w-panel);
    height: 56px;
    padding: 4px;
    box-sizing: border-box;
    margin: 16px 0 0;
    cursor: pointer;
}

.input-color::-webkit-color-swatch {
    border-radius: 4px;
    border: none;
}

.input-color::-moz-color-swatch {
    border-radius: 4px;
    border: none;
}

.select-01 {
    color: rgba(255, 255, 255, 0.64);
 }