.sidebar {
    display: inline-block;
    width: var(--w-sidebar);
}

.sidebar>h2 {
    margin-bottom: 32px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.menu-list>li {
    margin-bottom: 16px;  
    display: flex;
    align-items: center;
}