.sidebar {
    display: inline-block;
    width: 400px;
}

.sidebar>h2 {
    margin: 32px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.menu-list>li {
    margin: 0 0 16px 32px;
    display: flex;
    align-items: center;
}